<!DOCTYPE html>
<html lang= "pt-BR">
<head>
    <meta charset= "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
  
          <!-- Barra de Navegação(Nav)-->
  {% include "Portfolio/parcial/nav.html" %}
  
          <!-- Cabeçalho (header) -->
  {% include "Portfolio/parcial/header.html" %}

              <!-- Portfólio -->
  {% include "Portfolio/parcial/portfolio_projetos.html" %}

              <!-- Contato rodapé-->
  {% include "Portfolio/parcial/contato.html" %}     



  <!-- Inclua o JavaScript do Bootstrap (substitua 'versao' pela versão desejada) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@versao/dist/js/bootstrap.min.js"></script>
    <!-- <script src="caminho/local/bootstrap.min.js"></script> -->
</body>
</html>