{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Anderson Gorni Rodrigues - Desenvolvedor Web Iniciante</title>
  <link rel="stylesheet" href="{% static 'portfolio/css/style_header.css' %}">
</head>
<body>

  <!-- Cabeçalho -->
  <header class="jumbotron jumbotron-fluid text-center">
    <div class="mt-3">
      <div class="mt-1 p-2 bg-primary text-white rounded">
        <img src="{% static 'portfolio/img/minhafoto.png' %}" alt="Minha Foto">
        <h2>Anderson Gorni Rodrigues</h2>
        <p class="lead">Desenvolvedor Web Iniciante</p>
      </div>
    </div>
  </header>

  <!-- Sobre -->
  <section id="sobre" class="container mt-3">
    <h2 class="text-center mb-4">Sobre Mim</h2>
    <p class="text-center my-1">Olá! Me chamo Anderson e sou iniciante em Programação.</p>
    <p class="text-center my-1">Sou Natural de Bom Jesus do Norte-es.</p>
    <p class="text-center my-1">Estou cursando Técnico em Desenvolvimento de Sistemas.</p>
  </section>
</body>
</html>


    